<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Listar Clientes</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Email</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes | async">
            <td>{{cliente.firstName}}</td>
            <td>{{cliente.lastName}}</td>
            <td>{{cliente.emailId}}</td>
            <td><button (click)="apagarCliente(cliente.id)" class="btn btn-danger">Apagar</button>
                <button (click)="detalharCliente(cliente.id)" class="btn btn-info" style="margin-left: 10px">Detalhar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
