<h2>Detalhar Cliente</h2>

<hr/>
<div *ngIf="cliente">
  <div>
    <label><b>Nome: </b></label> {{cliente.nome}}
  </div>
  <div>
    <label><b>Tipo: </b></label> {{cliente.tipo}}
  </div>
  <div>
    <label><b>CPF: </b></label> {{cliente.nuCpf}}
  </div>

  <div>
    <label><b>RG: </b></label> {{cliente.nuRg}}
  </div>

  <div>
    <label><b>E-Mail: </b></label> {{cliente.email}}
  </div>

  <div>
    <label><b>Ativo: </b></label> {{cliente.stAtivo}}
  </div>

</div>

<div class="panel-body">
  <table class="text-md-left ">
    <thead>
    <tr>
      <th>Contatos Adicionados</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let telefone of cliente.telefones">
      <td>{{telefone.telefone}}</td>


    </tr>
    </tbody>
  </table>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Voltar para lista de clientes.</button><br>
